body{
    font-family: Arial, sans-serif;
    margin:0;
    background:#f4f4f4;
}

.container{
    text-align:center;
    margin-top:80px;
}

input{
    padding:10px;
    margin:10px;
}

button{
    padding:10px 20px;
    background:#3498db;
    color:white;
    border:none;
}

.footer{
    background:black;
    color:white;
    text-align:center;
    padding:20px;
    position:fixed;
    bottom:0;
    width:100%;
}

.footer a{
    color:white;
    margin:10px;
    text-decoration:none;
}

.footer a:hover{
    text-decoration:underline;
}